[submodule "csharp/sdk/HidSharp"]
	path = csharp/sdk/HidSharp
	url = https://github.com/eightamps/HidSharp.git
[submodule "cee/vendor/pthread-win32"]
	path = cee/vendor/pthread-win32
	url = git@github.com:GerHobbelt/pthread-win32.git
[submodule "zig/vendor/win32"]
	path = zig/vendor/win32
	url = git@github.com:marlersoft/zigwin32.git
